/ 2-embedded.slim
doctype html
html
  head
    title Embedded engine example
  body
    h1 Markdown
    p
      markdown:
        * Link in Markdown: [Slim](http://slim-lang.com)
        * Slim code interpolation
          * Generated at #{Time.now.strftime("%Y-%m-%d %H:%M")}
    h1 Javascript
    #box
    javascript:
      document.getElementById('box').innerHTML = 'Hello from Javascript!';
    h1 Ruby code
    In general you should avoid login in templates. However
    if you want to write longer ruby code blocks you can use the `ruby:` section.
    ruby:
      products = {
        chair: {
          name: 'Wooden chair',
          price: 10,
        },
        table: {
          name: 'Glass table',
          price: 20
        }
      }
    Now we print the products
    .products
      - products.each do |id, p|
        .product id=id
          .name  = p[:name]
          .price = p[:price]
